Django>=5.0
djangorestframework
Pillow
python-dotenv
django-cors-headers
django-environ
django-filter
psycopg2-binary
# For development purposes
django-debug-toolbar
# For testing purposes
pytest  
pytest-django
# For deployment purposes
gunicorn
# For database migrations
# For static files management
whitenoise
# For security enhancements


